# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Dependências
node_modules/

# Arquivos temporários
*.tmp
*.temp

# Arquivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Arquivos de backup
*.bak
*~